@import '../../styles/variaveis';
@import '../../styles/functions';

.register{
    &__container{
        padding: 30px 32px 50px 32px;
        @include small{
            padding: 95px 132px 0 132px;
        }

        @include medium{
            padding: 95px 162px 0 162px;
        }

        @include large{
            padding: 95px 400px 0 400px;
        }


        .title{
            color: #CD0000;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
        .paragraph{
            color: $terciaryGray;
            font-size: $paragraphSize;
            font-weight: 600;
            line-height: normal;
            margin-top: 64px;
        }

        input[type=number]::-webkit-inner-spin-button { 
            -webkit-appearance: none;
            
        }
        input[type=number] { 
           -moz-appearance: textfield;
           appearance: textfield;
        }        

        &__screen2__content{
            display: flex;
            gap: 8px;
            p{
                color: $terciaryGray;
                font-size: $paragraphSizeSecondary;;
                font-weight: 600;
                line-height: normal;
            }

            input{
                width: 15px;
            }
        }
    }
}