@import '../../styles/functions';
@import '../../styles/variaveis';

.banner__bg{
    height: 100vh;
    background-image: url(../../assets/imgs/background_home.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 40px;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include small{
        background-image: url(../../assets/imgs/background_home_tablet.png);
    }
    @include large{
        background-position: center -200px;
    }
    span{
        margin-top: 16vh;
        font-size: 24px;
        text-align: center;
        color: #fff;
        b{
            display: block;
            font-size: 40px;
            text-transform: uppercase;
        }
        @include small{
            color: $colorTablet;
        }
    }

    &__title__mobile{
        @include small{
            display: none;
        }
    }

    &__title__tablet{
        display: none;
        b{
            display: inline !important;
        }
        @include small{
            display: block;
        }
    }
    button{
        margin-top: 48px;
        display: flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 3px solid #fff;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
        font-size: 16px;
        @include small{
            display: none;
        }
    }
    
}