@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

//Colors
$primaryBlack: #000;
$secondaryBlack:#333;
$terciaryBlack: #282D35;

$primaryWhite: #fff;
$secondaryWhite: #F9F9F9;
$terciaryWhite: #F8F8F8;

$primaryOrange: #F44D00;
$secondaryOrange: #FF6B00;

$primaryBlue: #0192E4;
$secondaryBlueHover: #1BB8EA;
$terciaryBlue: #0F00BE;

$primaryRed:#E40101;
$secondaryRed: #CD0000;

$primaryGray: #CACACA;
$secondaryGray: #555;
$terciaryGray: #848484;



//Font sizes
$logoTitleSizeMobile: 36px;
$cardTitleSize: 40px;

$hyperTitleSize: 64px;
$titleSize: 48px;
$subText: 32px;
$subTitleSize: 24px;
$paragraphSizeSecondary: 20px;
$paragraphSize: 16px;
$paragraphSizeTerciary: 18px;

$paragraphSmallSize: 12px;


//Font Familys
$fontFamilySecondary: 'Quicksand', sans-serif;
$fontFamilyTerciary: Arial, Helvetica, sans-serif;


//transicoes padrão
$transitionDefault: 0.5s all;
$transitionButton: 0.2s all;