@import "../../styles/variaveis";
@import "../../styles/functions";

.header__color, .header,.header__darkMode {
    position: fixed;
    width: 100%;
    height: 12vh;
    border-bottom: 2px solid $primaryWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
    @include small{
        border: none;
    }
    h1{
        font-size: $logoTitleSizeMobile;
        text-transform: uppercase;
        letter-spacing: 5px;
        order: 2;
        a{
            text-decoration: none;
            color: $primaryWhite;
            @include small{
                color: $colorTablet;
            }
        }
    }
    .icon__hamburguer__open,.icon__hamburguer__close {
        order: 1;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 3%;
        cursor: pointer;
        div{
            width: 100%;
            height: 4px;
            background-color: $primaryWhite;
            margin: 7px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            @include small{
                background-color: $colorTablet;
            }
        }
    }
    .icon__hamburguer__open{
        div{
            &:nth-child(1){
                transform: rotate(-45deg);
                top: 11px;
                position: absolute;
            }
            &:nth-child(2){
                transform: rotate(45deg);
                position: absolute;
                bottom: 11px;
            }
            &:nth-child(3){
                transform: rotate(-45deg);
                top: 11px;
                position: absolute;
            }
        }
    }
    .menu{
        &__active, &__disabled{
            height: 100vh;
            position: fixed;
            top: 12vh;
            width: 100%;
            background-color: $primaryWhite;
            animation: menuOpen 0.5s;
            z-index: 10;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 32px;
                padding: 32px 16px;
                li{
                    color: $primaryRed;
                    font-size: $subTitleSize;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2.28px;
                    text-transform: uppercase;
                    cursor: pointer;
                    a{
                        color: $primaryRed;
                        text-decoration: none;
                    }
                }
            }
            .ul__dashboard{
                align-items: start;
                gap: 48px;
                li{
                    a{
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        font-weight: 600;
                        line-height: normal;
                        text-transform: capitalize;
                    }
                    &:last-child{
                        margin-top: 40px;
                    }
                }
            }
        }
        &__disabled{
            opacity: 0;
            visibility: hidden;
            animation: menuClose 0.5s;
            transition: 0.5s;
        }
    }
}

.header__color{
    background-color: $primaryBlack !important;
}

.header__darkMode{
    background-color: #040404 !important;
}


@keyframes menuOpen{
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}

@keyframes menuClose{
    from{
        left: 0;
    }
    to{
        left: -100%;
    }
}