@import '../../styles/variaveis';

.settings{
    &__container{
        width: 90%;
        margin: 56px auto;
        background-color: $primaryWhite;
        box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        ul{
            padding: 32px;
            display: flex;
            gap: 32px;
            flex-direction: column;

            a{
                text-decoration: none;
            }

            li{
                color: $primaryBlack;
                font-weight: 500;
                font-size: $paragraphSize;
                display: flex;
                align-items: center;
                gap: 22px;
            }
        }
    }
}