@import '../../styles/variaveis';
@import '../../styles/functions';

.benefits {
    &__top {
        background-color: $primaryRed;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
            text-align: center;
            color: $secondaryWhite;
            font-size: $subText;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 3.57px;
            padding: 24px;
        }

        p {
            color: $primaryWhite;
            text-align: center;
            font-size: $paragraphSize;
            font-weight: 400;
            padding: 0 20px;
        }

        &__content {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            color: $primaryWhite;
            font-size: $paragraphSize;
            font-weight: 400;
            padding: 0 20px;
        }
    }

    &__bg__transition {
        height: 150px;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: $primaryRed;
        @include large{
            height: 200px;
        }
        div{
            height: 1000px;
            background-color: $primaryWhite;
            position: absolute;
            width: 100%;
            left: 72%;
            top: -204%;
            transform: rotate(72deg);

            @include small{
                height: 1000px;
                background-color: #fff;
                position: absolute;
                width: 100%;
                left: 0%;
                top: -28%;
                transform: rotate(81deg);
            }

            @include medium{
                height: 1500px;
                background-color: #fff;
                position: absolute;
                width: 100%;
                left: 13%;
                top: -122%;
                transform: rotate(83deg);
            }

            @include large{
                height: 2000px;
                background-color: #fff;
                position: absolute;
                width: 100%;
                left: 12%;
                top: -90%;
                transform: rotate(84deg);
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 88px;
        margin-bottom: 32px;

        @include small{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: center;
            row-gap: 96px !important;
            padding: 0 40px;
            gap: 28px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $primaryBlack;
            font-size: $paragraphSize;
            font-weight: 500;
            line-height: normal;
            height: 130px;
            justify-content: space-between;
        }
    }
}
