@import '../../styles/variaveis';

.notfound{
    &__container{
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        margin-top: 14vh;
        gap: 16px;
        h1{
            color: $fourthBlack;
            text-align: center;
            font-size: $subText;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
        p{
            color: $paragraphGray;
            text-align: center;
            font-size: $paragraphMediumSize;
            font-weight: 500;
            line-height: normal;
        }
        button{
            height: 60px;
            border-radius: 50px;
            background-color: #FF735C;
            color: $secondaryWhite;
            text-align: center;
            font-size: $subTitleSize;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }
}