@import '../../styles/variaveis';
@import '../../styles/functions';

.notfound{
    &__container{
        padding: 0 16px 50px 16px;
        display: flex;
        flex-direction: column;
        margin-top: 14vh;
        gap: 16px;
        img{
            @include small{
                width: 50%;
                margin: 0 auto;
            }
        }
        h1{
            color: $fourthBlack;
            text-align: center;
            font-size: $subText;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            @include small{
                width: 60%;
                margin: 0 auto;
            }
        }
        p{
            color: $paragraphGray;
            text-align: center;
            font-size: $paragraphMediumSize;
            font-weight: 500;
            line-height: normal;
            @include small{
                padding: 0 40px;
            }
        }
        button{
            height: 60px;
            border-radius: 50px;
            background-color: #FF735C;
            color: $secondaryWhite;
            text-align: center;
            font-size: $subTitleSize;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.5s all;

            &:hover{
                background-color: #ff4124;
            }

            @include small{
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}